.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px,12px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
.btn{
  background-color: #fdb827;
  padding: 25px 10px;
  font-size: 2rem;
  font-family: 'Indie Flower';
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #23120b;
  border: none;
  border-radius: 50%;
  box-shadow: 0 9px black;
  position: absolute;
  left: 10rem;
}
.btn:hover {background-color: #ffd66b}

.btn:active {
  background-color: #fdb827;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn2{
  background-color: #fdb827;
  padding: 25px 10px;
  font-size: 2rem;
  font-family: 'Indie Flower';
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #23120b;
  border: none;
  border-radius: 50%;
  box-shadow: 0 9px black;
  position: absolute;
  right: 10rem;
}
.btn2:hover {background-color: #ffd66b}

.btn2:active {
  background-color: #fdb827;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', 'cursive';

}
